<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <nav class="nav nav-pills">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 link-body-emphasis" href={{url_for(routes[0] + ".get")}}>Main</a></li>
                <li><a class="nav-link px-2 link-body-emphasis" href={{url_for(routes[1] + ".get")}}>Predict</a></li>
                <li><a class="nav-link px-2 link-body-emphasis" href={{url_for(routes[2] + ".get")}}>Train</a></li>
            </ul>
        </nav>
    </div>
</header>